.tit-1 {
    color: darkred;
}
.tit-2{ 
    color: cadetblue;
}
.tit-3{
    color: rgb(15, 15, 77);
}
.it-1{
    color: chocolate;
}
    .it-2{
        color: #044952;
    }
        .it-3{
            color: aquamarine;
        }